{% extends "music/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Barry Tuckwell</h2>
            <iframe src="https://open.spotify.com/embed/artist/4FhjvKJ6w2iX3q8p2LpN8y" width="500" height="390" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            
            <h2>Jennifer Montone</h2>
            <iframe src="https://open.spotify.com/embed/artist/4SMEjSZ6OTimyZxNJLVsls" width="500" height="390" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      
        <div class="col-sm">
            <h2>Herrman Baumann</h2>
            <iframe src="https://open.spotify.com/embed/artist/4tBIGSfQ2jUnapXsvA7EEt" width="500" height="390" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
  </div>

{% endblock %}