{% extends "music/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Contribute</h1>

<form method="post" autocomplete="off">
    {% csrf_token %}

    {% if type == "from_spotify" %}
    <p>Potential artists involved:</p>
    <ul>
        {% for a in artists %}
            <li>{{ a.name }}</li>
        {% endfor %}
    </ul>
    <p>Use the dropdowns to select the appropriate artist, or manually type an answer in the field.</p>
    {% endif %}

    {{ form|crispy }}
    <input type="submit" value="Submit">
    
</form>

{% endblock %}