{% extends "music/base.html" %}
{% block content %}
<h1>Metronomic: Sensibly Organized Music</h1>
{% for playlist in playlists %}
<h4>{{ playlist.title }}</h4>
<input class="form-control" id="searchInput{{ playlist.id }}" type="text" placeholder="Search...">
<table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 25%">Title</th>
        <th scope="col">Spotify</th>
        <th scope="col">Artist</th>
        <th scope="col">Composer</th>
        <th scope="col">Conductor</th>
        <th scope="col">Ensemble</th>
        {% if user.is_authenticated %}
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    
    <tbody id="tableBody{{ playlist.id }}">
        {% for song in playlist.song_set.all %}
        <tr>
            <th scope="row">{{ song.title }}</th>
            <td><iframe src="https://open.spotify.com/embed/track/{{ song.get_id }}" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li></td>
            <td>{% for artist in song.artist.all %}{{ artist }}<br/>{% endfor %}</td>
            <td>{% for composer in song.composer.all %}{{ composer }}<br/>{% endfor %}</td>
            <td>{% for conductor in song.conductor.all %}{{ conductor }}<br/>{% endfor %}</td>
            <td>{% for ensemble in song.ensemble.all %}{{ ensemble }}<br/>{% endfor %}</td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'music:edit_song' song.id %}">Edit</a> </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% endblock %}



{% block js %}
{% for playlist in playlists %}
<script>
  $(document).ready(function(){
    $("#searchInput{{ playlist.id }}").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tableBody{{ playlist.id }} tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endfor %}
{% endblock %}